@import "tailwindcss";

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}